@import "../general.css";

.courses-banner{
    background-image: url("./courses.jpg");
}

@media (max-width: 769px){
    .courses-banner.overlay>h2{
        font-size: 2.8rem;
        left: 1rem;
    }
}

.courses-pages{
    margin-top: 5%;
}

.courses-pages.container{
    width: max-content;
    margin: auto;
}

.course>img{
	height: 9rem;
	width: inherit;
}

.course-description>a{
	text-align: center;
	margin: 0;
	padding-top: 1rem;
	font-weight: bold;
	padding-bottom: 1rem;
	display: block;
	text-decoration: none;
	color: white;
}

.course-description>hr{
	margin: 0;
}

.course-description>span{
	text-align: center;
	padding: 1rem;
	display: block;
	background-color: grey;
}