@import "../general.css";

.courses-banner{
    background-image: url("./img/courses.webp");
}

@media (max-width: 769px){
    .courses-banner.overlay>h2{
        font-size: 2.8rem;
        left: 1rem;
    }
}

.courses-pages{
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.courses-pages.container{
    width: 100%;
    position: relative;
    height: 20px;
}

.courses-grid{
	margin-bottom: 2rem !important;
}

.courses-pages.container>select{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 12rem;
	height: 2rem;
	text-align: center;
	font-size: 1.4rem;
	border-radius: 13px;
	outline: none;
}

.course>img{
	height: auto;
	width: 100%;
	cursor: pointer;
}

.course-description>a{
	text-align: center;
	margin: 0;
	padding-top: 1rem;
	font-weight: bold;
	padding-bottom: 1rem;
	display: block;
	text-decoration: none;
	color: white;
	cursor: pointer;
}

.course-description>hr{
	margin: 0;
}

.course-description>span{
	text-align: center;
	padding: 1rem;
	display: block;
	background-color: grey;
}