.main-sections{
    width: 37.5rem;
    height: 31.898rem;
    
    margin: auto;
    margin-bottom: 3rem;
    margin-top: 3rem;
    
    overflow: hidden;   
    border-radius: 9%;

    position: relative;
}



.main-sections-front,.main-sections-back{
    backface-visibility: hidden;
    position: absolute;
    transition: transform 0.6s linear;
}
.main-sections-front{
    height: 31.898rem;
    width: 37.5rem;
    transform: perspective(600px) rotateY(0deg);
    
    display: grid;
    grid-template: repeat(2, 1fr)/ repeat(2, 1fr);
    grid-gap: 1% 1%;
}
.main-sections-back{
    cursor: pointer;
    height: 31.898rem;
    width: 37.5rem;
    transform: perspective(600px) rotateY(180deg);
}



.main-section-info {
    position: absolute;
    bottom: 0;
    height: 40%;
    background-color: rgba(0,0,0,0.9);
    width: 96%;
    color: white;
    padding: 20px;
    font-family: sans-serif;
    cursor: default;
    opacity: 0;
    transition-delay: .5s;
    transition-property: opacity;
    transition-duration: 1.5s;
}
.main-section-info>h3{
    margin-top: 0;
}
.main-section-info>p {
    margin: 0px;
}
.main-section-info > a {
    display: block;
    float: right;
    color: white;
    font-weight: bold;
    padding-right: 30px;
    position: relative;
    top: 13px;
}




.main-section{
    width: 297px;
    height: 253px;
    background-size: cover;
    border-radius: 9%;
}
.main-section.courses{
    background-image: url("../images/field.webp");
}
.main-section.students{
    background-image: url("../images/shooting.webp");
}
.main-section.videos{
    background-image: url("../images/street_game.webp");
}
.main-section.news{
    background-image: url("../images/ball.webp");
}
.main-section:hover{
    opacity: 0.5;
    cursor: pointer;
}

@media (max-width: 576px) {
	.main-sections {
    		width: 23.5rem;
	}
	.main-sections-front {
		width: 23.5rem;	
	}
	.main-section {
    		width: 186px;
	}
	.main-sections-back {
		width: 23.5rem;
	}
	.main-section-info{
		height: 53%;
	}	
}