@font-face {
    font-family: OpenSans-ExtraBold;
    src: url("./OpenSans-ExtraBold-webfont.ttf");
}
  
.main{
    color: #f1f1f1;
}
.main-image{
    width: 100%;
    position: relative;
    z-index: -1;
    display: block;
}

.main-title{
	position: absolute;
    z-index: 1;
    margin-top: 12%;
    width: 82%;
    margin-left : 3%;
    
    color: #ffff50;
    font-family: OpenSans-ExtraBold;
    font-size: 7rem;
    font-style: italic;
    animation: title 3s normal 1;
}

.main-title-paragraph{
	position: absolute;
	z-index: 2;
	width: 40%;
    bottom: 8%;
    left: 55%;
    
    font-weight: bold;
	text-align: justify;
    font-size: 19px;
    animation: paragraph 3s normal 1;
}

.main-title-paragraph>span{
	display: block;
	margin-top: 10%;
	float: right;
	cursor: pointer;
}

.main-overlay{
    position: relative;
    background: repeating-linear-gradient( 45deg, rgb(128, 128, 128, 0.5) 5px, rgb(0, 0, 0, 0.5) 10px, rgb(255, 255, 255, 0.5) 5px);
}

.main-info{
    margin: auto;
    margin-top: 15rem;
    margin-bottom: 15rem;
    width: 70%;
}

.main-info>h2{
    text-align: center;
    font-size: 2rem;
 }
 
 .main-info>p{
     text-align: justify;
     font-weight: bold;
 }

 .main-sections {
    margin: auto;
    margin-bottom: auto;
    width: 45%;
    display: grid;
    grid-template: 50% 50%/ 50% 50%;
    margin-bottom: 7rem;
    overflow: hidden;
    border-radius: 9%;
    grid-gap: 1% 1%;
}

.main-section>img{
    width: 100%;
    height: 100%;   
}

.main-form{
    margin: auto;
    width: 55%;
    margin-bottom: 11rem;
    padding: 2rem;
    background-color: #ffcb00;
    color:#0d0e0f;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    padding-bottom: 0;

    font-weight: bold;
}

.main-form>h2{
    width: 60%;
	margin: auto;
    margin-bottom: 1rem;
    
    text-align: center;
}

.main-form> form{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin : auto;
    padding: 2rem;
    border: 5px solid black;
    padding-bottom: 1rem;
    border-bottom: none;
}

.main-form>form>label{
    font-size: 22px;
}

.main-form-input{
    margin-bottom: 1rem;
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    border-radius: 1%;
}

.submit{
    display: block;
    margin: auto;
    margin-top: 1rem;
    border: 3px solid black;
    position: relative;
    top: 0rem;
    border-radius: 2%;
    text-align: center;
    cursor: pointer;
    font-size: 21px;
    padding: 15px 32px;
    background-color: #ffcc00;
    font-weight: bold;
}

.submit:hover{
    background: #c1c0c1;
    color: #d8691e;
    border-color: #d8691e;
}

/** Animations **/

@keyframes title{
    from{
        margin-left : 0%;
        opacity: 0;
    }
    to{
        margin-left : 3%;
        opacity: 1;
    }
}

@keyframes paragraph{
    from{
        left : 59%;
        opacity: 0;
    }
    to{
        left : 55%;
        opacity: 1;
    }
}