@font-face {
    font-family: OpenSans-ExtraBold;
    src: url("./fonts/OpenSans-ExtraBold-webfont.ttf");
}

@font-face{
    font-family: OldSportAthletic;
    src: url("./fonts/OldSport02AthleticNcv-E0gj.ttf");
}

@font-face{
    font-family: scoreboard;
    src: url("./fonts/scoreboard.ttf")
}

.main{
    color: #f1f1f1;
}
.main-image{
    width: 100%;
    position: relative;
    z-index: -1;
    display: block;
}

.main-title{
	position: absolute;
    z-index: 1;
    margin-top: 12%;
    width: 82%;
    margin-left : 3%;
    
    color: #ffff50;
    font-family: OpenSans-ExtraBold;
    font-size: 6rem;
    font-style: italic;
    animation: title 1.5s ease-in 1;
}

.main-title-paragraph{
	position: absolute;
	z-index: 2;
	width: 40%;
    margin-top: 25%;
    left: 55%;
    
    text-shadow: 1px 1px 1px black;
	text-align: justify;
    font-size: 19px;
    animation: paragraph 1.5s ease-in 1;
}

.main-title-paragraph>a{
    color: #f1f1f1;
	display: block;
	margin-top: 5%;
	float: right;
	cursor: pointer;
}

.main-overlay{
    position: relative;
    background: repeating-linear-gradient( 45deg, rgb(128, 128, 128, 0.5) 5px, rgb(0, 0, 0, 0.5) 10px, rgb(255, 255, 255, 0.5) 5px);
}

 .main-sections {
    margin: auto;
    margin-bottom: auto;
    width: 45%;
    display: grid;
    grid-template: 50% 50%/ 50% 50%;
    margin-bottom: 7rem;
    overflow: hidden;
    border-radius: 9%;
    grid-gap: 1% 1%;
}

.main-section>img{
    width: 100%;
    height: 100%;
    cursor: pointer;   
}

.main-form{
    margin: auto;
    width: 55%;
    margin-bottom: 11rem;
    padding: 2rem;
    background-color: #ffcb00;
    color:#0d0e0f;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    padding-bottom: 0;
    
    font-weight: bold;
}

.main-form>h2{
    width:90%;
    margin: auto;
    margin-bottom: 2rem;
    margin-top: 1rem;

    font-family: OldSportAthletic;
    text-align: center;
    font-size: 2rem;
}

.main-form> form{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin : auto;
    padding: 2rem;
    border: 5px solid black;
    padding-bottom: 1rem;
    border-bottom: none;
}

.form-control{
    margin-bottom: 1rem;
}

.form-control>label{
    font-family: OldSportAthletic;
    font-size: 22px;
}

.form-control>input{
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    border-radius: 1%;
}

.form-control>span{
    color: red;
    float: right;
    font-weight: normal;
}

.submit, .submit-no-hover{
    display: block;
    margin: auto;
    margin-top: 1rem;
    border: 3px solid black;
    position: relative;
    top: 0rem;
    border-radius: 2%;
    text-align: center;
    cursor: pointer;
    font-family: OldSportAthletic;
    font-size: 21px;
    padding: 15px 32px;
    background-color: #ffcc00;
    font-weight: bold;
}

.submit:hover{
    background: #c1c0c1;
    color: #d8691e;
    border-color: #d8691e;
}


.main-section:hover{
    opacity: .5;
}






@media (min-width: 992px) {
    
    @keyframes title{
        from{
            margin-left : 0%;
            opacity: 0;
        }
        to{
            margin-left : 3%;
            opacity: 1;
        }
    }
    
    @keyframes paragraph{
        from{
            left : 59%;
            opacity: 0;
        }
        to{
            left : 55%;
            opacity: 1;
        }
    }
}
@media (max-width: 992px) { 
    
    .main-title{
        
        width: 100%;
		font-size: 4rem;
		text-align: center;	
        margin-left: 0;
    }
    .main-title-paragraph{
        
        width: 90%;
        left: 5%;	
    }
    
    .main-form{
        width: 85%;
    }
    
    @keyframes title{
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }
    @keyframes paragraph{
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }
}

@media (max-width: 768px) { 
    
    .main-title{
        margin-top: 8rem;
    }
    .main-image{
        width: 80rem;
        height: auto;
        left: -31rem;
    }
    
    .main-title-paragraph{
        margin-top: 21rem;
    }
    .main-form{
        border-radius: 2%;
    }
    
    .main-form>h2{
        margin-top: 0;
    }
    
    .main-form> form{
        width:80%;
    }
}

@media (max-width: 576px) { 
    .main-title{
        margin-top: 4rem;
    }
    .main-form{
        border-radius: 0;
    }
}