@font-face {
  font-family: EqualizeRegular;
  src: url("./EqualizeRegular-xXjr.ttf");
}
body{
  margin: 0;
  padding: 0;
}
.navbar{
  display: flex;
  justify-content: space-between;
  background-color: #0d0e0f;
  position: fixed;
  z-index: 3;
  width: 100%;
}

.navbar-title{
  padding: 1rem;
}

.navbar-title>a{
  text-decoration: none;
  font-family: EqualizeRegular;
  color: #ffff50;
}

.fa-basketball-ball{
  color: #ffff50;
}

.navbar-links{
  display: flex;
  color: #f1f1f1;
  margin: 0;
  padding: 0;
  width: 22.2rem;
}

.navbar-link{
  cursor: pointer;  
  text-align: center;
  width: 5.4rem;
  padding: 1rem;
}

.navbar-link:hover{
  background: #4b4848
}

.navbar-link{
  display: block;
	text-decoration: none;
	color: #9d9393;
}

.navbar-link.active , .menu-list>a:active{
  color: #f1f1f1;
  background: #4b4848;
  outline: none;
}

.navbar-link.menu>a{
  text-decoration: none;
  color: #9d9393;
  display: inline-block;
  width: 100%;
}

.navbar-link.menu>a>i{
  margin-left: 8px;
}

.menu-list{
  display: none;
  padding: 0;
  position: absolute;
  background-color: #0d0e0f;
  margin-top: 1.05rem;
  width: 7.4rem;
  right: 7.4rem;
}
  
.menu-list>a{
  display: block;
  text-decoration: none;
  color: #9d9393;
  padding: .5rem;
  text-align: center;
 }

.menu-list>a:hover{
  background: #4b4848;
}

hr{
  margin: 0;
}

@media (max-width: 768px){
  .navbar-links{
    width: 14.2rem;
  }
  .navbar-link{
    width: 3.4rem;
  }
  .menu-list{
    right: 75px;
  }
}