@import "../general.css";

.videos-banner{
    background-image: url("./videos.jpg");
}

.video-thumbnail{
    height: 7rem;
    width: inherit;
    text-decoration: none;
    background-size: cover;
    cursor: pointer;
    display: block;
    position: relative;
}

.video-thumbnail>img{
    height: inherit;
    width: 100%;
}

.video-description>a{
	text-align: center;
    margin: 0;
    padding: 0.6rem;
    display: block;
}

.fas.fa-play{
    color: white;
    opacity: 0.7;
    display: block;
    position: absolute;
    top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
    width: max-content;
    font-size: 3rem;
    text-decoration: none;
}

.video:hover .fas.fa-play{
    display: none;
}

@media (max-width: 576px){
    .video, .video-thumbnail{
        height: auto;
    }
    .video-description>a{
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}