@font-face {
    font-family: EqualizeRegular;
    src: url("./EqualizeRegular-xXjr.ttf");
  }
  
  .navbar{
    display: flex;
    justify-content: space-between;
    background-color: #0d0e0f;
    position: fixed;
    z-index: 3;
    width: 100%;
  }
  
  .navbar-title{
    padding: 1rem;
  }
  
  .navbar-title>a{
    text-decoration: none;
    font-family: EqualizeRegular;
    color: #ffff50;
  }
  
  .navbar-links{
    display: flex;
    color: #f1f1f1;
    list-style-type: none;
    margin: 0;
    width: 50%;
  }
  
  .navbar-links>li{
    width: 84px;
    text-align: center;
    padding: 1rem;
    cursor: pointer;
  }

  .navbar-links>li>a{
    text-decoration: none;
    color: #9d9393;
  }

  .navbar-links>li:hover{
    background: #4b4848
  }

  .navbar-link.home{
    background: #4b4848;
  }

  .navbar-link.home>a{
    color: #f1f1f1;
  }

  